name: Build and deploy ASP.Net Core app to Azure Web App - smartwalletback

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build with dotnet
        run: dotnet build --configuration Release --no-restore

      - name: Publish project
        run: dotnet publish -c Release -o ./publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: net-app
          path: ./publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: net-app
          path: ./publish

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_FFB6AC429D544A7690604E87490295B2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B097EA8FBBB141C8913B046D180788A4 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_84277B8E68DB44C4BCB57DAD457D299A }}

      - name: Install dotnet-ef tool
        run: |
          dotnet tool install --global dotnet-ef --version 8.*
          echo "$env:PATH;$env:USERPROFILE\.dotnet\tools" >> $env:GITHUB_ENV

      - name: Update database with EF Core migrations
        working-directory: src/SmartWallet.Infrastructure
        run: dotnet ef database update --startup-project ../SmartWallet.API
        env:
          ASPNETCORE_ENVIRONMENT: Production
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          DB_PATH: ${{ secrets.DB_PATH }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Smartwallet'
          slot-name: 'Production'
          package: ./publish
        env:
          DB_PATH: ${{ secrets.DB_PATH }}
